p
	a.pad(href='/about') About
	span.horizonal-divider |
	a.pad(href='mailto:tomgallacher@me.com') Support
	span.horizonal-divider |
	a.pad(href='mailto:tomgallacher@me.com') Report a Bug
	span.pull-right Chat with me on&nbsp;
		a(href='http://twitter.com/tomgco') Twitter&nbsp;
		| | Tom Gallacher 2011 &copy; 2011