script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/javascript/bootstrap.min.js')
- if (typeof locals.javascript === 'object')
	- for (i in locals.javascript)
		script(src= locals.javascript[i])