h3 Connected Managers:
table.table.table-striped(style='width:30%;')
  thead
    tr
      th Status
      th Node
      th Ip Address
      th Port
      th 0mq Port
  tbody
  - for (i in locals.managers) {
    tr
      td
        img(src='/images/' + (locals.managers[i].online ? 'online' : 'offline') + '-16.png')
      td #{i}
      td #{locals.managers[i].addresses[0]}
      td #{locals.managers[i].port}
      td #{locals.managers[i].txtRecord.zmqPort}
  - }