!!!
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    !=partial('partials/stylesheets', locals)
  body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand Dis.io
        .nav-collapse
          ul.nav
            li(class=/^.\/*$/.test(currentUrl) ? 'active' : '')
              a(href="/") Home
            li(class=/\/task*/.test(currentUrl) ? 'active' : '')
              a(href="/task/") Manage Tasks
            li
              a(href="mailto:i7827020@bournemouth.ac.uk") Contact
  .container
    != body
      //-<!--Body content-->
  !=partial('partials/javascript', locals)